doctype html

script(src='../lib/lodash/lodash.js')
script(src='../lib/jquery/dist/jquery.min.js')
script(src='../lib/interact/interact.min.js')

link(href='../lib/bootstrap/dist/css/bootstrap.min.css', rel='stylesheet')
script(src='../lib/bootstrap/dist/js/bootstrap.min.js')

link(href='../lib/fontawesome/css/font-awesome.min.css', rel='stylesheet')

script(src='../lib/jquery-mousewheel/jquery.mousewheel.min.js')
script(src='../lib/mousetrap/mousetrap.min.js')
script(src='../lib/svg.js/dist/svg.min.js')

link(href='../css/style.css', rel='stylesheet')
script(src='../js/index.js')

.top
   #menu
      .project
         .btn.btn-default.new-project
            i.fa.fa-file-o
            div.text-label New project
         .btn.btn-default.open-project
            i.fa.fa-folder-open-o
            div.text-label Open project
            input(type='file', accept='.plyed', tabindex="-1").handler
         .btn.btn-default.save-project
            i.fa.fa-floppy-o
            div.text-label Save project
      .sprites
         .btn.btn-default.import-dir
            i.fa.fa-folder-o
            div.text-label Import directory
            input(type='file', nwdirectory, tabindex="-1").handler
         .btn.btn-default.import-file
            i.fa.fa-file-image-o
            div.text-label Import file
            input(type='file', multiple, tabindex="-1").handler
         .btn.btn-default.export-file
            i.fa.fa-share
            div.text-label Export
         
.bottom
   .left
      #sprites
         .top-stuff
            .header
               span Sprites
               .loader
            .form-group.search-sprites
               .col-sm-8
                  input.form-control.search-box(type='text', placeholder='Filter...', tabindex="-1")
               .col-sm-4
                  label.control-label Active
                  input.active-box(type='checkbox', tabindex="-1")
         .content
            .list-group
   #editor
      .canvas#canvas
         img.sprite-image(draggable='false')
      #status
         .tools
            .btn.btn-primary.polygon-button
               i.fa.fa-play
            .shape-operations
               button.btn.btn-default.flip-horizontal-button
                  i.fa.fa-exchange
               button.btn.btn-default.flip-vertical-button
                  i.fa.fa-exchange.fa-rotate-90
         .zoom
            div Zoom
            input.form-control.zoom-box(type='number', value='100', min='25', max='1000', step='25', tabindex="-1")

   #properties
      .header Settings
      .content.form-horizontal
         .sub-header Exporter
         .form-group
            label.col-sm-4.control-label Exporter
            .col-sm-8
               select.form-control.exporter-box(tabindex="-1")
                  option(value='JSON') Lime JSON
                  option(value='Corona') Corona
         .sub-header Properties
         .form-group
            label.col-sm-4.control-label Key
            .col-sm-8
               input.form-control(type='text', tabindex="-1")
